body {
  margin: 0;
  padding: 0;
  font: 1rem "Source Sans Pro", "Segoe UI", "Helvetica Neue", sans-serif;
  background: rgb(22, 22, 22);
  color: papayawhip;
}
.head-title{
  font-size: 50px;
  text-align: center;
}
.main-note{
  height: 550px;
  display: grid;
  grid-template-columns: repeat(20,5%);
}
.text-note{
  /* margin: 20px 20px 20px 20px; */
  font-size: 16px;
  border-radius: 40px;
  color: #FFFFFF;
  height: 500px;
}
/* .cm-s-duotone-dark.CodeMirror { 
  background: papayawhip;
  color: #6c6783; 
} */
.body-note{
  grid-column: 5/18;
  border-radius: 0px 10px 10px 0px;
  border: 3px solid #FFFFFF;
  padding: 15px;
}
.bg-text-note{
  padding: 25px;
  background: #273E63;
}
.all-title{
  text-align: center;
  overflow-x: scroll;
  grid-column: 3/5;
  border-radius: 5px 0px 0px 5px;
  border: 3px solid #FFFFFF;
  /* display: grid; */
  overflow-y: scroll;
}
.title-note{
  background: rgb(55, 55, 55);
  height: 50px;
  border-bottom: 3px solid #FFFFFF; 
  cursor: pointer;
}
.wrap-text-note{
  background: #293237;
  padding: 20px;
  border-radius: 5px;
  border: solid 1px #FFFFFF;
}