body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Ubuntu,'Helvetica Neue', sans-serif;
  background: rgb(22, 22, 22);
  /* -webkit-font-smoothing: antialiased; */
  color: papayawhip;
}
.main-dashboard{
  color: #FFFFFF;
}
.main-note{
  font-weight: 400px;
  margin-top: 25px;
  height: 550px;
  display: grid;
  grid-template-columns: repeat(20,5%);
}
.btn-click:hover {
  background: rgb(37, 37, 37);
}
.cm-s-text-note.CodeMirror {
  font-weight: 400;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Ubuntu,'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .01em;
  font-size: 16px;
  height: 500px;
}
.body-note{
  grid-column: 5/20;
  border-radius: 0px 10px 10px 0px;
  border: 2px solid #FFFFFF;
  padding: 15px;
}
.bg-text-note{
  padding: 25px;
  background: #273E63;
}
.btn-main{
  grid-column: 2/3; 
  display: grid;
  grid-template-rows: repeat(20,5%);
  grid-gap: 20px;
}
.home{

}
.wrap-text-note{
  background: #293237;
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.55) 10px 20px 68px;
}
.title-input{
  border-radius: 10px;
  border: 2px solid #293237;
  background: #293237;
  font-size: 16px;
  padding-left: 15px;
  color: #FFFFFF; 
  width: 400px;
  height: 30px;
}
.close {
  color: #FFFFFF;
  grid-row: 1;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 0px 0px 330px;
  font-weight: 700;
}
.close:hover{
  color: rgb(219, 217, 217);
}
.modal-content-detail{
  display: grid;
  grid-template-rows: 5% 25% 35% 30%;
  height: 100%;
}
.modal-title{
  text-align: center;
  grid-row: 2;
  padding: 7px 0px 0px 0px;
  color: rgb(187, 26, 26);
  font-weight: bold;
  border-bottom: solid 1px #FFFFFF;
}
.modal-header{
  grid-row: 3;
  text-align: center;
  margin-top: 20px;
}
.modal-btn{
  grid-row: 4;
  display: grid;
  grid-template-columns: 10% 35% 10% 35% 10%;
}